body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    color: #0021A5; /* UF Blue */
}

.container {
    text-align: center;
}

.error h1 {
    font-size: 10rem;
    margin: 0;
    color: #FA4616; /* UF Orange */
}

.error p {
    font-size: 2rem;
    margin: 0;
}

.error a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FA4616; /* UF Orange */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.error a:hover {
    background-color: #e03b12;
}

.gator {
    margin-top: 20px;
}

.gator img {
    width: 150px;
    height: auto;
}
